#courses {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#courses div {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    width: 100px;
}

.completed {
    background-color: green;
    color: white;
}

.not-completed {
    background-color: brown;
    color: white;
}
